# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data (never commit raw data)
data/raw/
data/external/
data/01_raw/BRFSS/
data/01_raw/NHANES/

# Optional processed data (keep commented if needed)
# data/02_intermediate/
# data/03_processed/

# Outputs / experiments
experiments/
notebooks/outputs/
results/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db